.body{
    font-size: .625rem;
}

.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8rem;
    padding-left: .5rem;
}

.footer{
    padding-left: .5rem;
}

.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
}
#datetime{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    padding-left: .5rem;
}

.weather{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
}

.dtTemp{
    padding-top: .75rem;
    
       
}

h7{
    font-family: 'Times New Roman', Times, serif;
    font-size: .75rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#smallHL .card-body{
    padding: .25rem;
}

.jumbotron p{
    margin-top: 1.0rem;
}

